body {
    background-color: #EEDEC5;
margin: 0;
overflow: hidden;
}

#menu {
    /* background: white; */
    width: 300px;
    height: 50px;
    display: flex;
    position: fixed;
    top: 100px;
    left: 50px;
    justify-content: space-between;
    user-select: none; 
}

#menu a {
    color: black;
    font-family: "eb-garamond", serif;
font-weight: 500;
font-style: normal;
font-size: 22px;
transition: 500ms;

}

canvas {
    display: block;
    position: fixed; 
    left: 0;
    top: 0;
    z-index: -2;
  }






#circle {
    width: 500px;
    height: 500px;
    background: #722F37;
    /* border: solid 1px black; */
    border-radius: 50%;
    position: fixed;
    filter: blur(1px);
    top: 10vh;
    left: 10vw;
    animation: blurring 3s infinite alternate;
    transition: 2s;
    
}

@keyframes blurring {
to{filter: blur(20px);}
}





#main-header{
    font-family: "eb-garamond", serif;
font-weight: 500;
font-style: italic;
    left: 50px;
    top: 0px;
    font-style: italic;
    color: black;
    font-size:40px;
    position: fixed;
    user-select: none;
    text-align: left;

    
}


#instructions {
    display: none;

}

#toggleButton {
    width: 30px;
    height: 15px;
    right: 20px;
    z-index: 2;
    bottom: 90px;
    position: fixed;
    border: solid black 1px;
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms;
    display: none;

}

#toggleCircle {
    height: 12.5px;
    width: 12.5px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 1.25px;
    right: 1.25px;
}

.off {
    left: 1.25px;
}





.disappear {
    display: none;

}

.appear {
    display: block;

}

.appearFlex {
    display: flex;

}

#proCont {
    position: fixed;
    width: 100vw;
    height: 800px;
    left: 50vw;
    transform: translateX(-50%);
    top: 120px;
    /* display: none; */
    flex-flow: column;

/*     
    overflow-x: scroll;
    overflow-y: hidden; */


}

#tagCont {
    /* background: blue; */
    height: 50px;
    padding-left: 50px;
    margin-bottom: 10px;
    display: none;
}

#tagCont div {
    border: solid 1px rgb(43, 43, 43);
    padding: 5px;
    /* padding-left: 20px; */
    height: 20px;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 18px;
    font-family: "eb-garamond", serif;
    user-select: none;
}

.inactive {
    color: rgb(43, 43, 43);
    background:  none;
}

.active {
    background: rgb(43, 43, 43);
    color:  #EEDEC5;
}

/* #tagCont div::before {
    background: black;
    height: 12px;
    width: 1.5px;
    position: absolute;
    left: 10px;
    transform: rotate(45deg);
    content: '';
}

#tagCont div::after {
    background: black;
    height: 12px;
    width: 1.5px;
    position: absolute;
    left: 10px;
    transform: rotate(-45deg);
    content: '';
} */

#imageCont {
    /* background: green; */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: scroll;
    padding-left: 40px;
    margin-top: 40px;
    padding-right: 40px;
    padding-bottom: 140px;
    justify-content: space-between;
}

.imageCont {
    display: flex;
    margin: 10px;
    /* background: red; */
    width: 350px;
    height: 420px;
    flex-flow: column;
}

.images {
    background: purple;
    height: 350px;
    background-size: cover;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.images:hover {
    opacity: 0.6;
}

.tags {
    position: relative;
    display: flex;
}

.tags > div {
    /* background: rgb(61, 61, 61); */
    border: solid 1px black;
    color: black;
    padding: 5px;
    height: 15px;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
    font-family: "eb-garamond", serif;
}

.titles {
    margin-top: 5px;
    font-family: "eb-garamond", serif;
    font-size: 20px;

}


/* #imageCont > * {
    width: 200px;
    height: 200px;
    border: solid black 1px;
    background-size: cover;
    
} */





.caption {
    position: relative;
    font-family: "eb-garamond", serif;
font-weight: 500;
font-style: normal;
font-size: 16px;
/* color: white; */
padding: 0.5px;
/* background: #EEDEC5; */

}

#abCont {
    position: fixed;
    top: 150px;
    left: 60px;
    width: 300px;
cursor: crosshair;

}

#abCont p {
    font-family: "eb-garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

#abCont h1 {
    font-family: "eb-garamond", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
    position: relative;
    left: -10px;
}

.dates {
    font-size: 17px;

}

#abCont a {
    font-family: "eb-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: underline;
    color: black;
    position: relative;
    left: -10px;
}

#conCont {
    position: fixed;
    top: 150px;
    left: 60px;
    width: 300px;

}
#conCont p, a {
    font-family: "eb-garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: black;
}

#conCont  h1 {
    font-family: "eb-garamond", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
    position: relative;
    left: -10px;
}




@media only screen and (min-width: 768px) {


    #menu {
        width: 500px;
        height: 50px;
        display: flex;
        position: fixed;
        top: 45px;
        left: 270px;
        justify-content: space-between;
    cursor: crosshair;
    user-select: none; 
    }
    
    #menu a {
        color: black;
        font-family: "eb-garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    transition: 500ms;
    cursor: pointer;
    
    }
    
    #menu a:hover {
        color: white;
    }
    
    canvas {
        display: block;
        position: fixed; 
        left: 0;
        top: 0;
        z-index: -2;
      }
    
    
    
    
    
    
    #circle {
        width: 500px;
        height: 500px;
        background: #722F37;
        /* border: solid 1px black; */
        border-radius: 50%;
        position: fixed;
        filter: blur(1px);
        top: 10vh;
        left: 10vw;
        animation: blurring 3s infinite alternate;
        transition: 2s;
        
    }
    
    @keyframes blurring {
    to{filter: blur(20px);}
    }
    
    
    #toggleButton {
        display: block;
    }
    
    
    
    #main-header{
        font-family: "eb-garamond", serif;
    font-weight: 500;
    font-style: italic;
        left: 50px;
        top: 0px;
        font-style: italic;
        color: black;
        font-size:40px;
        position: fixed;
        user-select: none;
        text-align: left;
    cursor: pointer;
    
        
    }

    #tagCont {
        display:flex;
    }
    
    #imageCont {
        margin-top: 0;
    }
    
    
    
    
    #instructions {
        position: fixed;
        display: block;
        width: 300px;
        line-height: 20px;
        right: 20px;
        bottom: 20px;
        font-family: sans-serif;
        text-align: right;
        justify-content: space-between;
        font-size: 14px;
    user-select: none;
    
    }
    
    #proCont {
        position: fixed;
        width: 100vw;
        left: 50vw;
        transform: translateX(-50%);
        top: 120px;
        /* overflow: scroll; */
    cursor: crosshair;
    
    }

    #buffer {
        background: #EEDEC5;
        position: fixed;
        display: none;
        height: 200px;
        width: 200px;
        bottom: 0px;
        right: 0px;

    }

    #buffer2 {
        background: #EEDEC5;
        /* background: black; */
        position: fixed;
        display: none;
        height: 200px;
        width: 200px;
        top: 0px;
        left: 400px;

    }
    
    .disappear {
        display: none;
    
    }
    
    .appear {
        display: block;
    
    }
    
    .thumbnail {
        /* background: black; */
        border: solid black 1px;
        position: absolute;
        transition: 500ms;
        /* box-shadow: 5px 5px 10px rgb(18, 18, 18); */
        top: 50px;
        background-size: cover;
        cursor: pointer;
    }
    
    .thumbnail:hover {
        /* transform: scale(1.05);*/
    
        /* filter: blur(2px); */
    
        opacity: 60%;
    }
    
    .divider {
        height: 50px;
        width: 2px;
        /* background: black; */
        position: absolute;
    }
    
    .caption {
        position: absolute;
        font-family: "eb-garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    /* color: white; */
    padding: 0.5px;
    /* background: #EEDEC5; */
    
    }
    
    #abCont {
        position: fixed;
        top: 150px;
        left: 60px;
        width: 350px;
    cursor: crosshair;
    
    }
    
    #abCont p {
        font-family: "eb-garamond", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
    }
    
    #abCont h1 {
        font-family: "eb-garamond", serif;
        font-weight: 500;
        font-style: italic;
        font-size: 24px;
        position: relative;
        left: -10px;
    }
    
    .dates {
        font-size: 17px;
    
    }
    
    #abCont a {
        font-family: "eb-garamond", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        text-decoration: underline;
        color: black;
        position: relative;
        left: -10px;
    }
    
    #conCont {
        position: fixed;
        top: 150px;
        left: 60px;
        width: 350px;
    cursor: crosshair;
    
    }
    #conCont p, a {
        font-family: "eb-garamond", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        color: black;
    }
    
    #conCont  h1 {
        font-family: "eb-garamond", serif;
        font-weight: 500;
        font-style: italic;
        font-size: 24px;
        position: relative;
        left: -10px;
    }









}