body {
    background-color: #f0f0f0;
margin: 0;
overflow: hidden;
}

#menu {
    /* background: white; */
    width: 300px;
    height: 50px;
    position: fixed;
    top: 100px;
    left: 50px;
    /* justify-content: space-between; */
    user-select: none; 
    color: black;
    font-family: "eb-garamond", serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
transition: 500ms;
}

#menu a {
    color: black;
    font-family: "eb-garamond", serif;
font-weight: 500;
font-style: normal;

}



#main-header{
    font-family: "eb-garamond", serif;
font-weight: 500;
font-style: italic;
    left: 50px;
    top: 0px;
    font-style: italic;
    color: black;
    font-size:40px;
    position: fixed;
    user-select: none;
    text-align: left;

    
}
