body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(235, 235, 235);

}

canvas {
    display: none;
}

#container {
    display: none;
}

@font-face {
    font-family: gilroy;
    src: url('Gilroy-Light.otf')

}

@font-face {
    font-family: arizona;
    src: url('ABCArizonaMix-Bold-Trial.otf')

}

@font-face {
    font-family: graphik;
    src: url('Graphik-Medium.otf')

}

@font-face {
    font-family: typewriter;
    src: url('AmericanTypewriter.ttc')

}


#menu {
    display: flex;
    flex-flow: column;
    padding: 3vw;
    padding-top: 5vh;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;

}

.labels {
    font-family: gilroy;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 18px;
    font-style: normal;
}

.main-label {
    font-family: arizona;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;

}

#buttonCont {
    display: flex;

}

#inputCont { 
    display: flex;
}
#buttonCont button {
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    font-family: gilroy;
    padding: 5px;
    box-sizing: border-box;


}




#inputCont input {
    margin-bottom: 5px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    -webkit-appearance: none;  
    appearance: none;
    border: none;
    border-bottom: solid 2px rgb(95, 95, 95);
    font-family: gilroy;

    /* border-radius: 12.5px; */
    padding-left: 10px;
    padding-bottom: 0;
    box-sizing: border-box;



}

.slider {
    width: 100%;
    -webkit-appearance: none;  
    appearance: none;
    height: 30px;
    border-radius: 15px;
    padding-right: 3.5px;
    padding-left: 3.5px;
    box-sizing: border-box;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  box-shadow: none;
  height: 25px; 
  border-radius: 50%;
  background: rgb(95, 95, 95);
  padding-right: 3.5px;
  box-sizing: border-box;

    padding-left: 3.5px; 

}

.slider::-moz-slider-thumb {
    width: 25px;
  height: 25px; 
  border-radius: 50%;
  box-shadow: none;

  background: rgb(95, 95, 95);

    
}

.palette {
    display: flex;
    /* flex-wrap: wrap; */

}

.palette div {
    height: 10vw;
    width: 40px;
    margin: 1vw;
    box-sizing: border-box;
}

#preview {
    /* background: blue; */
    height: 200px;
    width: 100%;
    margin-top: 10px;
    font-family: arizona;
    font-size: 50px;
    -webkit-text-stroke: 1px navy;


}

.selected {
    border: 3px solid white;
}







@media (min-width: 481px) and (orientation: portrait), (min-height: 481px) and (orientation: landscape) {

    body {
        overflow: auto;
        background: none;
    }

    #menu {
        display: none;
    }
     
    canvas {
        display: block;
        z-index: 0;
    }

    #container {
        z-index: 2;
        position: fixed;
        width: 100vw;
        left: 0px;
        /* height: 782px; */
        height: 100vh;
        top: 0px;
        display: block;
    }

    #container p {
        font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-variant: small-caps; */
    
    font-size: 18px;
    height: 30px;
    /* background: red; */
    display: flex;
    align-items: baseline;
    align-content: baseline;
    justify-content: end;
        position: relative;
        color: white;
        /* right: 95px; */
        right: 55px;
        width: 100%;
        top: 100px;
        /* background: red; */
    }

    #container p::after {
        content: "";
        background: white;
        height: 1px;
        width: 50px;
        position: absolute;
        right: -55px;
        top: 15px;
    }

    .counters {
        font-variant-caps: all-small-caps;
    
    }

    #hour {
        text-transform: lowercase;
        font-variant-caps: all-small-caps;
    }

    #date {
        text-transform: lowercase;

    }

    #counter {
        font-variant-caps: all-small-caps;


    }

    #background {
        width: 100%;
        height: 90%;
        bottom: 0px;
        position: absolute;
        background: rgb(57, 57, 57);
        opacity: 20%;
        display: block;
    
    }

    .blink {
        animation: blink 1s infinite linear alternate;
        
    }

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;


    }
    100% {
        opacity: 0;
    }
}

}