body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(243, 243, 243);

}

canvas {
    display: none;
}

#container {
    display: none;
}

@font-face {
    font-family: gilroy;
    src: url('Gilroy-Light.otf')

}

@font-face {
    font-family: arizona;
    src: url('ABCArizonaMix-Bold-Trial.otf')

}

@font-face {
    font-family: graphik;
    src: url('Graphik-Medium.otf')

}

@font-face {
    font-family: typewriter;
    src: url('AmericanTypewriter.ttc')

}


#menu {
    display: flex;
    flex-flow: column;
    padding: 3vw;
    padding-top: 5vh;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;

}

.labels {
    font-family: gilroy;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 18px;
    color: black;
    font-size: 14px;
    -webkit-text-stroke: black 0.5px;
    font-style: normal;
}

.main-label {
    font-family: arizona;
    margin-bottom: 0px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;

}

#buttonCont {
    display: flex;
    justify-content: center;

}

#inputCont { 
    display: flex;
}
#buttonCont button {
    font-size: 20px;
    width: 150px;
    margin-top: 50px;
    font-family: gilroy;
    padding: 10px 0 10px 0;
    /* height: 40px; */
    border-radius: 20px;
    color: rgb(0, 221, 37);
    background: none;
    box-shadow: none;
    /* border: none; */
    border: solid 2px rgb(0, 221, 37);
    -webkit-text-stroke: rgb(0, 221, 37) 1px;

}

#buttonCont button:disabled {
    -webkit-text-stroke: rgb(198, 197, 197) 1px;
    background: rgb(224, 224, 224);
    border-color: rgb(198, 197, 197);

    color: rgb(198, 197, 197);
}





#inputCont input {
    margin-bottom: 5px;
    height: 100px;
    width: 100%;
    font-size: 16px;
    -webkit-appearance: none;  
    text-transform: lowercase;

    appearance: none;
    border: none;
    border-bottom: solid 2px rgb(0, 0, 0);
    font-family: arizona;
    background: none;
    color: black;
    text-align: center;

    /* -webkit-text-stroke: black 0.25px; */

  /* box-shadow: inset 0px 0px 3px rgb(166, 166, 166); */

padding: 0;

padding-top: 50px;
    /* border-radius: 12.5px; */
    /* padding-left: 12.5px; */
    box-sizing: border-box;



}

.slider {
    width: 100%;
    -webkit-appearance: none;  
    appearance: none;
    /* background: rgb(95, 95, 95); */
    background: white;
    height: 3px;
    border-radius: 12.5px;
    box-sizing: border-box;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  box-shadow: 0px 1.5px 6px rgb(166, 166, 166);
  height: 25px; 
  border-radius: 50%;
  /* background: rgb(95, 95, 95); */
  background: rgb(243, 243, 243);
  padding-right: 3.5px;
  box-sizing: border-box;

    padding-left: 3.5px; 

}

.slider::-moz-slider-thumb {
    width: 25px;
  height: 25px; 
  border-radius: 50%;
  box-shadow: none;

  background: rgb(95, 95, 95);

    
}

.palette {
    display: flex;
    padding-right: 2px;
    padding-left: 2px;
    /* background: purple; */
    width: 150px;
    height: 60px;
    box-sizing: border-box;
    flex-wrap: wrap;

}

.palette div {
    height: 25px;
    width: 25px;
    margin: 2px;
    box-sizing: border-box;
}

.row {
    /* background: blue; */
    display: flex;
    justify-content: space-between;
}

.column {
    /* background: red; */
    display: flex;
    flex-flow: column;

}

#preview {
    /* background: blue; */
    height: 200px;
    width: 100%;
    margin-top: 10px;
    font-family: arizona;
    font-size: 50px;
    -webkit-text-stroke: 1px navy;
    text-align: center;


}

.selected {
    border: 3px solid white;
}







@media (min-width: 481px) and (orientation: portrait), (min-height: 481px) and (orientation: landscape) {

    body {
        overflow: auto;
        background: none;
    }

    #menu {
        display: none;
    }
     
    canvas {
        display: block;
        z-index: 0;
    }

    #container {
        z-index: 2;
        position: fixed;
        width: 100vw;
        left: 0px;
        /* height: 782px; */
        height: 100vh;
        top: 0px;
        display: block;
    }

    #container p {
        font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-variant: small-caps; */
    
    font-size: 18px;
    height: 30px;
    /* background: red; */
    display: flex;
    align-items: baseline;
    align-content: baseline;
    justify-content: end;
        position: relative;
        color: white;
        /* right: 95px; */
        right: 55px;
        width: 100%;
        top: 100px;
        /* background: red; */
    }

    #container p::after {
        content: "";
        background: white;
        height: 1px;
        width: 50px;
        position: absolute;
        right: -55px;
        top: 15px;
    }

    .counters {
        font-variant-caps: all-small-caps;
    
    }

    #hour {
        text-transform: lowercase;
        font-variant-caps: all-small-caps;
    }

    #date {
        text-transform: lowercase;

    }

    #counter {
        font-variant-caps: all-small-caps;


    }

    #background {
        width: 100%;
        height: 90%;
        bottom: 0px;
        position: absolute;
        background: rgb(57, 57, 57);
        opacity: 20%;
        display: block;
    
    }

    .blink {
        animation: blink 1s infinite linear alternate;
        
    }

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;


    }
    100% {
        opacity: 0;
    }
}

}